.big_title {
  width: 750px;
  height: 144px;
  margin: 0 277px 70px 80px;
  font-family: 'Exo 2';
  font-size: 48px;
  line-height: 1.5;
  letter-spacing: -0.72px;
  text-align: left;
  color: #000000;
}
